<div class="banner">
  <%= image_tag 'soccer-transparent.png', class:'banner-img' %>
  <div id="typed"></div>
  <div id="signup-btn">
  <%- if !user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-signup animate__animated animate__heartBeat' %><br />
  <% end %>
  </div>
</div>
