<div class = "notifications-container">
 <div class = "close-overlay">
    X
  </div>

  <h1 class = "notifications-heading">
    Notifications
  </h1>

  <div class = "notifications-message-box">
    <h6 class = "message-subject">
      Leave a Review
    </h6>
    <button type="button" class="btn btn-primary btn-placement">Review</button>
    <div class = "message-content">
      <p>
        How was your game with Andy yesterday?
        Please feel free to leave a review.
      </p>
    </div>
  </div>
</div>
