<div class="container-fluid py-4">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/01/26/22/40/child-613199_960_720.jpg" alt="Card image">
    <div class="card-body">
      <h5 class="card-title"><%= sport.name %></h5>
      <p class="card-text">Example text</p>
      <%= link_to 'See players', sport_path(sport), class: "btn btn-primary" %>
    </div>
  </div>

</div>
