<div class="container-fluid py-4">
  <div class="sports-card">
    <div class="sports-card-header">
      <%= link_to image_tag("https://cdn.pixabay.com/photo/2015/01/26/22/40/child-613199_960_720.jpg"), sport_availabilities_path(sport) %>
      <h4 class="card-title"><%= sport.name.upcase %></h4>
    </div>
    
  </div>
</div>
