<div>
  <%= render 'shared/banner', sport: @sport %>
</div>

<div class="how-box-container">
  <div class="how-box">
    <p class = homepage-icons> <i class="fas fa-search"></i> </i> </p>
    <div class="card-text">
      <h1 class = "how-box-heading"> SEARCH THE SPORT YOU LOVE </h1>
      <p class = "how-box-body"> Just tap search, find the sport you love, and see who is available. </p>
    </div>
  </div>

  <div class="how-box">
    <div class="card-text">
      <h1 class = "how-box-heading"> FIND AVAILABLE PLAYERS </h1>
      <p class = "how-box-body"> There's bound to be someone who shares the same interest as you. </p>
    </div>
    <p class = homepage-icons> <i class="fas fa-user"></i> </i> </p>
  </div>

  <div class="how-box">
    <p class = homepage-icons> <i class="fas fa-heart"></i> </p>
    <div class="card-text">
      <h1 class = "how-box-heading"> ENJOY THE SPORT </h1>
      <p class = "how-box-body"> Enjoy the beautiful sport together. Afterwards, leave a review and who knows, maybe you'll play again! </p>
    </div>
  </div>
</div>

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <% @sports.each do |sport| %>
            <div class="swiper-slide"><%= render 'shared/sports_card', sport: sport %></div>
        <% end %>
    </div>

    <div class="swiper-pagination"></div>
    
</div>

  







