<h1>Kitchen sink 2</h1>

<!-- Banner for homepage -->
<div>
  <%= render 'shared/banner', sport: @sport %>
</div>

<!-- Sports card for homepage/show page -->
<div>
  <%= render 'shared/sports_card', sport: @sport %>
</div>
