nav {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.nav-display {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

.nav-link-style {
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  padding: 2vw;
  font-size: 3vh;
}
