.reviews-form-container {
  padding: 8px;
  padding-bottom: 2px;
  width: 100vw;
  height:  70vw;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 5vw;
  font-size: 16px;
  display: flex;
}

.reviews-content-container{
 width: 80vw;
 margin-left: 5vw;
 margin-top: 2vw;
}

.review-title {
margin-left: 4vw;
margin-top: 4vw;
}
.reviews-btn-placement {
  margin-top: 5vw;
margin-left: 25vw;
 border-radius: 30px;
 padding: .4rem .8rem;
    color: white;
    background-color: $black;
    border-radius: 30px;
    font-family: $body-font;
    letter-spacing: 2px;
}
