.notifications-container {
  padding: 2vw;
  width: 340px;
  height: 650px;
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  margin: auto;
  margin-bottom: 2vw;
  font-size: 8px;
  position: relative;
}

.close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  margin-right: 5vw;
}

.notifications-message {
  width: 100vw;
  height: 200px;
  display: block;
}

.notifications-heading {
  color: $blue;
}
